#
# madeyougoaway
#
# Copyright (C) 2025   darix
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

nftables:
  # touches /var/lib/nftables/auto.conf so that the service saves the current state at the end
  auto_save: False

  # optional early config. This ruleset will be started before any network is up
  # this limits the rules you can define (like no iif(name)/oif(name))
  early_config:
    tables:
      inet:
        filter:
          chains:
            input:
              type: filter hook input priority 0
              policy: drop
              rules:
                - ct state established,related accept
                - ct state invalid drop
                - iif lo accept
                # Allow all ICMP and IGMP traffic, but enforce a rate limit
                # to help prevent some types of flood attacks.
                - ip protocol icmp limit rate 4/second accept
                - ip6 nexthdr ipv6-icmp limit rate 4/second accept
                - ip protocol igmp limit rate 4/second accept
                - counter log prefix "[nftables] forward reject "  reject;
            outgoing:
              type: filter hook output priority 0
              policy: accept
            forward:
                type: filter hook forward priority 0
                policy: drop;
                rules:
                  - ct state established,related accept
                  # Drop invalid packets.
                  - ct state invalid drop
  config:
    tables:
      inet:
        filter:
          includes:
            - hosts_and_ports
          chains:
            input:
              type: filter hook input priority 0
              policy: drop
              rules:
                - ct state established,related accept
                - ct state invalid drop
                - iif lo accept
                # Allow all ICMP and IGMP traffic, but enforce a rate limit
                # to help prevent some types of flood attacks.
                - ip protocol icmp limit rate 4/second accept
                - ip6 nexthdr ipv6-icmp limit rate 4/second accept
                - ip protocol igmp limit rate 4/second accept
                - iif intern counter jump services_intern
                - iif extern counter jump services_extern
                - counter log prefix "[nftables] forward reject "  reject;
            outgoing:
              type: filter hook output priority 0
              policy: accept
            forward:
                type: filter hook forward priority 0
                policy: drop;
                rules:
                  - ct state established,related accept
                  # Drop invalid packets.
                  - ct state invalid drop
            services_extern:
              rules:
                - udp dport @wireguard_udp_ports counter accept
            services_intern:
              rules:
                - tcp dport @salt_tcp_ports log prefix " [nftables] salt access intern " accept
      ip:
        nat:
          includes:
            - hosts_and_ports
          chains:
            postrouting:
              type: nat hook postrouting priority 100
              policy: accept
      ip6:
        nat:
          includes:
            - hosts_and_ports
          chains:
            postrouting:
              type: nat hook postrouting priority 100
              policy: accept
  includes:
    hosts_and_ports:
      sets:
        salt_tcp_ports:
          type: inet_service
          flags: interval
          elements:
            - 4505
            - 4506
        wireguard_udp_ports:
          type: inet_service
          flags: interval
          elements:
            - 49360-49361
            - 52459

        # you need to ensure that the mine function only returns either IPv4 or IPv6
        patroni_v4:
          typeof: ip4 saddr
          flags:  interval
          elements:
           - 127.0.0.1
          element_mine_match:    'I@roles:patroni'
          element_mine_function: internal_addresses_v4
          # this is the default tgttype
          # element_mine_tgttype:  compound
        patroni_v6:
          typeof: ip6 saddr
          flags:  interval
          elements:
           - ::1
          element_mine_match:    patroni
          element_mine_function: internal_addresses_v6
          # if you have a nodegroup which addreses all the patroni nodes, we can also use that
          element_mine_tgttype:  nodegroup